libcap-devel
tcp_wrappers-devel
pam-devel
cryptsetup-devel
libacl-devel
pciutils-devel
gobject-introspection-devel
bzip2-devel
libidn-devel
libcurl-devel
kmod-devel
elfutils-devel
libgcrypt-devel
qrencode-devel
libmicrohttpd-devel
docbook-style-xsl
intltool
gperf
gtk-doc
python-lxml
libmount-devel
audit-libs-devel
dbus-devel
gnutls-devel

